@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

button {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn {
  border-radius: 3px;
  padding: 16px 40px;
  background-color: #fb565a;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.header {
  padding-top: 50px;
  background-color: #eee;
}
.header__logo:hover {
  opacity: 100%;
}
.header__logo:active {
  opacity: 30%;
}
.header__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  text-transform: uppercase;
  color: #000;
}
.header__link.current {
  padding-bottom: 12px;
  border-bottom: 2px solid #fb565a;
}
.header__link:hover {
  color: red;
}
.header__link:active {
  opacity: 30%;
  color: #000;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 45px;
}
.header__cart::before {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 15C5.32843 15 6 14.3284 6 13.5C6 12.6716 5.32843 12 4.5 12C3.67157 12 3 12.6716 3 13.5C3 14.3284 3.67157 15 4.5 15Z' fill='%23A6A6A6'/%3E%3Cpath d='M12.5 15C13.3284 15 14 14.3284 14 13.5C14 12.6716 13.3284 12 12.5 12C11.6716 12 11 12.6716 11 13.5C11 14.3284 11.6716 15 12.5 15Z' fill='%23A6A6A6'/%3E%3Cpath d='M15 2H4.07L3.648 0H0V2H2.031L4.016 11H15V9H9.441L15 6.951V2Z' fill='%23A6A6A6'/%3E%3C/svg%3E%0A");
  width: 15px;
  height: 15px;
  content: "";
  display: inline-block;
  margin-right: 25px;
}
.header__cart:hover {
  color: red;
}
.header__cart:active {
  color: #A6A6A6;
  opacity: 100%;
}

.products__wrapper {
  padding-block: 80px;
  /* border-bottom: 2px solid #eee; */
}
.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
}
.products__pic {
  margin-bottom: 23px;
  width: 300px;
  height: 146px;
  -o-object-fit: cover;
     object-fit: cover;
}
.products__title {
  font-weight: 700;
  font-size: 23px;
  line-height: 125%;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 16px;
}
.products__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #283136;
  margin-bottom: 32px;
}
.products__btn {
  border-radius: 3px;
  padding: 16px 40px;
  background-color: #fb565a;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.products__btn:hover {
  /* наведение */
  background-color: #e74246;
}
.products__btn:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.1882352941);
}
.products__btn--app {
  background-color: #00ca74;
}
.products__btn--app:hover {
  background-color: #00bc6c;
}
.products__btn--app:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.1882352941);
}
.products__btn--present {
  background-color: #efc849;
}
.products__btn--present:hover {
  background-color: #00bc6c;
}
.products__btn--present:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.1882352941);
}

.prolog {
  background-color: #eee;
}
.prolog__wrapper {
  background-image: url("../images/nerds-index-slide1 1.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 78px;
  padding-bottom: 84px;
}
.prolog__title {
  font-weight: 500;
  font-size: 54px;
  line-height: 100%;
  color: #000;
  margin-bottom: 25px;
}
.prolog__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #283136;
  margin-bottom: 38px;
}
.prolog__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  background: #fb565a;
  padding: 16px 54px;
}

.about__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 73px;
}
.about__left {
  margin-top: 34px;
}
.about__border {
  width: 100%;
  height: 2px;
  background-color: #eee;
  margin-bottom: 39px;
}
.about__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  color: #000;
  margin-bottom: 21px;
}
.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #283136;
  margin-bottom: 47px;
}
.about__right {
  width: 360px;
  margin-left: 149px;
}
.about__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #283136;
  margin-bottom: 23px;
}
.about__subtitle--center {
  text-align: center;
  margin-bottom: 31px;
}
.about__list {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #283136;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about__item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.about__item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}
.about__data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.about__pic {
  width: 360px;
  margin-bottom: 30px;
}
.about__data-value {
  font-weight: 700;
  font-size: 45px;
  line-height: 142%;
  color: #000;
  margin-bottom: 14px;
}
.about__data-value.sup {
  font-size: 26px;
}
.about__data-key {
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #283136;
}

.footer__bottom {
  margin-top: 68px;
  margin-bottom: 68px;
  display: flex;
  gap: 139px;
}
.footer__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #000;
  margin-bottom: 10px;
}
.footer__desk {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: #444;
}
.footer__list {
  display: flex;
  gap: 9px;
}
.footer__link {
  background-color: #E1E1E1;
  border-radius: 100%;
  width: 81px;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 0.3s;
}
.footer__link:hover {
  background-color: #E74246;
}
.footer__link:active {
  color: rgba(255, 255, 255, 0.1882352941);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #D7373B;
}

.header {
  padding-top: 50px;
  background-color: #eee;
}
.header__logo:hover {
  opacity: 100%;
}
.header__logo:active {
  opacity: 30%;
}
.header__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  text-transform: uppercase;
  color: #000;
}
.header__link.current {
  padding-bottom: 12px;
  border-bottom: 2px solid #fb565a;
}
.header__link:hover {
  color: red;
}
.header__link:active {
  opacity: 30%;
  color: #000;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 45px;
}
.header__cart::before {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 15C5.32843 15 6 14.3284 6 13.5C6 12.6716 5.32843 12 4.5 12C3.67157 12 3 12.6716 3 13.5C3 14.3284 3.67157 15 4.5 15Z' fill='%23A6A6A6'/%3E%3Cpath d='M12.5 15C13.3284 15 14 14.3284 14 13.5C14 12.6716 13.3284 12 12.5 12C11.6716 12 11 12.6716 11 13.5C11 14.3284 11.6716 15 12.5 15Z' fill='%23A6A6A6'/%3E%3Cpath d='M15 2H4.07L3.648 0H0V2H2.031L4.016 11H15V9H9.441L15 6.951V2Z' fill='%23A6A6A6'/%3E%3C/svg%3E%0A");
  width: 15px;
  height: 15px;
  content: "";
  display: inline-block;
  margin-right: 25px;
}
.header__cart:hover {
  color: red;
}
.header__cart:active {
  color: #A6A6A6;
  opacity: 100%;
}

.map {
  margin-top: 80px;
}
.map__info {
  width: 319px;
  background: #fff;
  padding: 50px;
  position: absolute;
  top: -370px;
  left: 0px;
}
.map__info-wrapper {
  position: relative;
}
.map__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 167%;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 23px;
}
.map__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #666;
  font-style: normal;
  margin-bottom: 37px;
}

.map iframe {
  width: 100%;
  height: 416px;
  border: none;
}

.partners__border {
  width: 100%;
  height: 2px;
  background-color: #eee;
  margin-bottom: 46px;
}
.partners__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin-bottom: 44px;
}
.partners__stic {
  height: 52px;
  width: 2px;
  background-color: #eee;
}
.partners__pic {
  opacity: 30%;
  transition: 0.3s;
}
.partners__pic:hover {
  opacity: 100%;
}
.partners__pic:active {
  opacity: 10%;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(226, 71, 71, 0.616);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal.active {
  display: flex;
}
.modal__form {
  background-color: white;
  padding: 30px;
  width: 700px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}
.modal__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  color: #000;
}
.modal__input {
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #000;
  padding: 16px;
}
.modal__input:user-invalid {
  border-color: red;
}
.modal__close {
  position: absolute;
  background: none;
  border: none;
  top: 15px;
  right: 30px;
  cursor: pointer;
}

.catalog-filters {
  width: 260px;
}
.catalog-filters__radio-label {
  display: flex;
  gap: 11px;
  padding: 10px;
  align-items: center;
}
.catalog-filters__radio-label::before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 12.5C0 5.597 5.597 0 12.5 0C19.403 0 25 5.597 25 12.5C25 19.403 19.403 25 12.5 25C5.597 25 0 19.403 0 12.5ZM21 12.5C21 7.813 17.187 4 12.5 4C7.813 4 4 7.813 4 12.5C4 17.187 7.813 21 12.5 21C17.187 21 21 17.187 21 12.5Z' fill='%234D4D4D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.catalog-filters__radio-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.catalog-filters__radio-input:checked + .catalog-filters__radio-label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 12.5C0 5.597 5.597 0 12.5 0C19.403 0 25 5.597 25 12.5C25 19.403 19.403 25 12.5 25C5.597 25 0 19.403 0 12.5ZM21 12.5C21 7.813 17.187 4 12.5 4C7.813 4 4 7.813 4 12.5C4 17.187 7.813 21 12.5 21C17.187 21 21 17.187 21 12.5Z' fill='%234D4D4D'/%3E%3Cpath d='M12.5 17C14.9853 17 17 14.9853 17 12.5C17 10.0147 14.9853 8 12.5 8C10.0147 8 8 10.0147 8 12.5C8 14.9853 10.0147 17 12.5 17Z' fill='%234D4D4D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.catalog-filters__checkbox-label {
  display: flex;
  gap: 11px;
  padding: 10px;
  align-items: center;
}
.catalog-filters__checkbox-label::before {
  content: "";
  width: 23px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%234D4D4D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.catalog-filters__checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.catalog-filters__checkbox-input:checked + .catalog-filters__checkbox-label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='23' viewBox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath d='M6.95925 8.48591L4.25684 11.3149L11.6916 19.0979L25.0002 5.16591L22.2988 2.33691L11.6916 13.4389L6.95925 8.48591Z' fill='%234D4D4D'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='%234D4D4D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.catalog-filters__checkbox-input:disabled + .catalog-filters__checkbox-label {
  opacity: 10%;
}
.catalog-filters__cost {
  margin-top: 55px;
}
.catalog-filters__grid {
  margin-top: 55px;
}
.catalog-filters__special {
  margin-top: 43px;
}
.catalog-filters__button {
  border-radius: 3px;
  width: 260px;
  height: 50px;
  background-color: #eee;
  border: none;
  margin-top: 48px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: 0.3s;
}
.catalog-filters__button:hover {
  background: #dfdfdf;
}
.catalog-filters__button:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background: #d5d5d5;
  color: rgba(0, 0, 0, 0.1882352941);
}
.catalog-filters__title {
  margin-bottom: 14px;
}

.header-catalog__title {
  background-color: #EEEEEE;
  padding-top: 87px;
  padding-bottom: 107px;
  padding-inline: auto;
  font-weight: 500;
  font-size: 54px;
  line-height: 100%;
  color: #000;
  text-align: center;
}

.range-slider__wrapper {
  width: 260px;
  height: 80px;
  border-radius: 3px;
  background-color: #eee;
  padding: 0 22px;
  padding-top: 39px;
}
.range-slider__container {
  position: relative;
  width: 100%;
}
.range-slider input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.range-slider__track {
  width: 100%;
  height: 2px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
.range-slider input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 2px;
}
.range-slider input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 2px;
}
.range-slider input[type=range]::-ms-track {
  appearance: none;
  height: 2px;
}
.range-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #fff;
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
}
.range-slider input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  pointer-events: auto;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
}
.range-slider input[type=range]::-ms-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  pointer-events: auto;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
}
.range-slider input[type=range]:active::-webkit-slider-thumb {
  background-color: #ABABAB;
  border: 8px solid #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
}

.catalog-range {
  margin-top: 14px;
}
.catalog-range__list {
  display: flex;
  justify-content: space-between;
}
.catalog-range__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  text-transform: uppercase;
  color: #283136;
}
.catalog-range__field {
  gap: 12px;
  display: flex;
  align-items: center;
}
.catalog-range__input {
  border-radius: 3px;
  width: 80px;
  height: 38px;
  background-color: #EEEEEE;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  text-transform: uppercase;
  color: #283136;
  text-align: center;
  transition: 0.3s;
}
.catalog-range__input:hover {
  background-color: #e74246;
}
.catalog-range__input:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.1882352941);
}

.catalog-content__wrapper {
  display: flex;
}

.cards__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 42px;
  margin-top: 42px;
}
.cards__window {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 231px;
  background-color: #EEEEEE;
  opacity: 0;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 80px 44px;
}
.cards__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 167%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.cards__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-align: center;
  color: #666;
}
.cards__card {
  display: flex;
  flex-direction: column;
  position: relative;
}
.cards__card:hover .cards__window {
  visibility: visible;
  opacity: 1;
}
.cards__card:hover .cards__shape {
  color: #4D4D4D;
}
.cards__shape {
  color: #eee;
  transition: 0.3s;
}

.catalog-products {
  margin-left: 145px;
  margin-top: 55px;
}
.catalog-products__sort {
  display: flex;
  width: 100%;
}

.sort__filters {
  display: flex;
  gap: 25px;
  margin-left: auto;
}
.sort__arrows {
  display: flex;
  gap: 18px;
  margin-left: 47px;
}
.sort__item-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 129%;
  text-transform: uppercase;
  color: #000;
  opacity: 0.3;
  transition: 0, 3s;
}
.sort__item-text:hover {
  opacity: 0.6;
}
.sort__item-text:active {
  opacity: 1;
}
.sort__item-text::before {
  opacity: 1;
}
.sort__item-text--current {
  opacity: 1;
}
.sort__arrows-items {
  opacity: 0.3;
}
.sort__arrows-items:hover {
  opacity: 0.6;
}
.sort__arrows-items:active {
  opacity: 1;
}
.sort__arrows-items::before {
  opacity: 1;
}

.pagination {
  margin-top: 54px;
  display: flex;
  gap: 10px;
}
.pagination__list {
  display: flex;
  gap: 10px;
}
.pagination__page {
  border-radius: 3px;
  width: 50px;
  height: 50px;
  background: #eee;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  text-align: center;
  color: #000;
}
.pagination__page:hover {
  background: #dfdfdf;
}
.pagination__page:active {
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}
.pagination__page::before {
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}
.pagination__page--large {
  border-radius: 3px;
  width: 260px;
  height: 50px;
}
.pagination__page--current {
  border: 3px solid #dbdbdb;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0);
}/*# sourceMappingURL=main.css.map */