.header-catalog__title {
    background-color: #EEEEEE;
    padding-top: 87px;
    padding-bottom: 107px;
    padding-inline: auto;
    font-weight: 500;
    font-size: 54px;
    line-height: 100%;
    color: #000;
    text-align: center;
}